{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block branding %}<h1>Find My Device</h1>{% endblock %}

{% block content %}
    <p class="errornote">
        {% translate 'To find your device, you must be logged in.' %}
    </p>
    <p>
        <a href="{{ loging_url }}">{% translate 'Log in' %}</a>
    </p>
{% endblock %}