{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}{{ block.super }}
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" href="{% static 'fmd_externals/favicon.ico' %}">
{% endblock %}

{% block footer %}
<div id="footer" class="submit-row">
    <a href="https://gitlab.com/jedie/django-find-my-device">gitlab.com/jedie/django-find-my-device</a>
</div>
{% endblock %}