<div class="" id="content">
 <h1>
  Select device to change
 </h1>
 <div id="content-main">
  <ul class="object-tools">
  </ul>
  <div class="module filtered" id="changelist">
   <div class="changelist-form-container">
    <nav class="toplinks">
     <a class="date-back" href="?create_dt__year=2000">
      ‹ 2000
     </a>
     <a href="?create_dt__day=1&amp;create_dt__month=1&amp;create_dt__year=2000">
      January 1
     </a>
    </nav>
    <form id="changelist-form" method="post" novalidate="">
     MockedCsrfTokenNode
     <div class="actions">
      <label>
       Action:
       <select name="action" required="">
        <option selected="" value="">
         ---------
        </option>
        <option value="delete_selected">
         Delete selected devices
        </option>
       </select>
      </label>
      <input class="select-across" name="select_across" type="hidden" value="0"/>
      <button class="button" name="index" title="Run the selected action" type="submit" value="0">
       Go
      </button>
      <span class="action-counter" data-actions-icnt="1">
       0 of 1 selected
      </span>
     </div>
     <div class="results">
      <table id="result_list">
       <thead>
        <tr>
         <th class="action-checkbox-column" scope="col">
          <div class="text">
           <span>
            <input aria-label="Select all objects on this page for an action" id="action-toggle" type="checkbox"/>
           </span>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="sortable column-short_id" scope="col">
          <div class="text">
           <a href="?o=1.-6">
            Short id
           </a>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="sortable column-name" scope="col">
          <div class="text">
           <a href="?o=2.-6">
            Name
           </a>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="column-location_count" scope="col">
          <div class="text">
           <span>
            Location count
           </span>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="column-last_location_date" scope="col">
          <div class="text">
           <span>
            Last Location
           </span>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="sortable column-create_dt" scope="col">
          <div class="text">
           <a href="?o=5.-6">
            Create date
           </a>
          </div>
          <div class="clear">
          </div>
         </th>
         <th class="sortable column-update_dt sorted descending" scope="col">
          <div class="sortoptions">
           <a class="sortremove" href="?o=" title="Remove from sorting">
           </a>
           <a class="toggle descending" href="?o=6" title="Toggle sorting">
           </a>
          </div>
          <div class="text">
           <a href="?o=6">
            Last update
           </a>
          </div>
          <div class="clear">
          </div>
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="action-checkbox">
          <input aria-label="Select this object for an action - Smartphone John (xyz012)" class="action-select" name="_selected_action" type="checkbox" value="00000000-0000-0000-0000-000000000001"/>
         </td>
         <th class="field-short_id">
          <a href="/admin/findmydevice/device/00000000-0000-0000-0000-000000000001/change/">
           xyz012
          </a>
         </th>
         <td class="field-name">
          Smartphone John
         </td>
         <td class="field-location_count">
          1
         </td>
         <td class="field-last_location_date nowrap">
          Jan. 1, 2000, 1:02 a.m.
         </td>
         <td class="field-create_dt nowrap">
          Jan. 1, 2000, 1:01 a.m.
         </td>
         <td class="field-update_dt nowrap">
          Jan. 1, 2000, 1:03 a.m.
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <p class="paginator">
      1 device
     </p>
    </form>
   </div>
   <div id="changelist-filter">
    <h2>
     Filter
    </h2>
    <div id="changelist-filter-extra-actions">
     <h3>
      <a class="viewlink" href="?_facets=True">
       Show counts
      </a>
     </h3>
    </div>
    <details data-filter-title="name" open="">
     <summary>
      By name
     </summary>
     <ul>
      <li class="selected">
       <a href="?">
        All
       </a>
      </li>
      <li>
       <a href="?name=Smartphone+John">
        Smartphone John
       </a>
      </li>
     </ul>
    </details>
   </div>
  </div>
 </div>
 <br class="clear"/>
</div>